/* Estilos CSS */
* {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;


}

.content {
  text-align: center;
  overflow-wrap: break-word;
}


/******************CABEÇALHO*****************/

header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
  align-items: center;
  font-size: 30px;
}

.n-letter {
  font-size: 27px;
  color: rgb(189, 33, 33)
}

.m-letter {
  font-size: 27px;
  color: rgb(62, 62, 190);
}

header h3 {
  font-size: 27px;
  margin-left: 38px;
}

/*Navegaçao*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;

}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
  background-color: #f2f2f2;
  padding: 5px 10px;

}

header nav ul li a {
  display: flex;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

header nav ul li:hover {
  background-color: #ddd;
  border: #333 1px solid;
}

.sobre,
.cursos,
.infraestrutura,
.equipeEducacional {
  border: 2px solid black;
  border-radius: 10px;
  box-decoration-break: slice;
  color: black;
  font-size: 15px;
  background-color: #ADD8E6;
}

.cursos {
  background-color: #e6e78e
}

.infraestrutura {
  background-color: #e7b28e
}

.equipeEducacional {
  background-color: #ade6b5;
}

#sobre {
  margin-left: 200px;
  margin-top: 100px;
  margin-right: 130px;
  background-color: #DDD;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  height: 276px;
}

#sobre h2{
  font-size: 30px;
  color: rgb(62, 62, 190);
}

#sobre p {
  margin-left: 100px;
  margin-top: 60px;
  font-size: 24px;
}

#contato {
  font-size:35px;
  background-color: #DDD;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-top:1px solid #333;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}

html {

  scroll-behavior: smooth;
  /* Adiciona suavização de rolagem em todo o documento */

}

/********************CONTEUDO*******************/
section {
  padding: 20px;
  align-items: center;
}

section p {
  width: 700px;
}

.introducao {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  align-items: center;

}

h2 {
  font-size: 40px;
  height: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 96%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 70%;
  /* Ajuste o tamanho das imagens conforme necessário */
  display: block;
  margin: 0 auto;
  justify-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.image-container .btn-img {
  position: absolute;
  top: 433px;
  left: 339px;
  transform: translate(-50%, -50%);
  padding: 13px 31px;
  background-color: transparent;
  color: transparent;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  z-index: 1;
}

.btn-img:hover{
  cursor: pointer;
}


.componets {
  background-color: #f1f1f154;
} 


/********************/
.redesocial {
  background-color: #DDD;
  height: 100px;
  width: 66%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
}

.redesocial label {
  flex: 1;
  text-align: center;
}
#opcao {
  margin-right: 100px;
  margin-top: 60px;

  height: 350px;
  width: 27%;
  float: right;
 
}

.btn-opcao {
  background-color: rgb(225, 233, 236);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  float: right;
  width: 150px;
  height: 133px;
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.btn-opcao:hover {
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.clear {
  clear: both;
}

.btn-opcao img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Estilos para dispositivos com largura de tela até 600px */
@media (max-width: 600px) {
  header h1 {
    margin-left: 0;
    font-size: 24px;
  }

  nav ul {
    margin-left: 0;
  }

  section p {
    width: auto;
  }

  .introducao {
    margin-left: 0;
    font-size: 18px;
  }

  h2 {
    font-size: 32px;
  }

  .image-container img {
    width: 100%;
    margin-left: 0;
  
  }
}

/* Estilos para dispositivos com largura de tela até 900px */
@media (max-width: 900px) {
  header h1 {
    font-size: 26px;
  }

  .introducao {
    font-size: 16px;
  }

  h2 {
    font-size: 36px;
  }
}

/* Estilos para dispositivos com largura de tela acima de 1200px */
@media (min-width: 1200px) {
  header h1 {
    font-size: 32px;
  }

  .introducao {
    font-size: 22px;
  }

  h2 {
    font-size: 44px;
  }
}