/* Estilos CSS */
:root {
    /* Cores das seções */
    --cor-apresentacao: #007bff; /* Azul - Cor da seção de Apresentação */
    --cor-sobre: #6c757d; /* Cinza - Cor da seção Sobre */
    --cor-cursos: #ffc107; /* Amarelo - Cor da seção Cursos */
    --cor-infraestrutura: #28a745; /* Verde - Cor da seção Infraestrutura */
    --cor-equipe: #dc3545; /* Vermelho - Cor da seção Equipe */
    --cor-contato: #17a2b8; /* Turquesa - Cor da seção Contato */
  
    /* Outras cores */
    --cor-fundo: #f8f9fa; /* Fundo claro */
    --cor-texto: #333; /* Texto preto */
    --cor-link: #007bff; /* Links azuis */
  }
  
  /* Estilos gerais */
  * {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: grid;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
  }
  
  .content {
    text-align: center;
    overflow-wrap: break-word;
  }
  
  header {
    background-color: rgb(160 179 255);;
    padding: 20px;
  }
  
  header h1 {
    margin-left: 200px;
    align-items: center;
    font-size: 30px;
    color: var(--cor-texto);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--cor-fundo);
    padding: 5px 10px;
  }
  
  header nav ul li a {
    display: flex;
    text-decoration: none;
    color: var(--cor-link);
    font-size: 24px;
  }
  
  header nav ul li:hover {
    background-color: #ddd;
    border: #333 1px solid;
  }
  
  section {
    padding: 20px;
    align-items: center;
  }
  
  section p {
    width: 700px;
  }
  
  .introducao {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
  }
  
  h2 {
    font-size: 40px;
    height: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 96%;
  }
  
  .text-container {
    flex: 1;
  }
  
  .image-container {
    display: flex;
    margin-left: 20px;
  }
  
  .image-container img {
    width: 300px; /* Ajuste o tamanho das imagens conforme necessário */
    margin-left: 10px;
  }
  
  .componets {
    border: #333 solid 1px;
  }
  
  /* Estilos das seções */
  section#sobre {
    background-color: var(--cor-sobre);
  }
  
  section#cursos {
    background-color: var(--cor-cursos);
  }
  
  section#infraestrutura {
    background-color: var(--cor-infraestrutura);
  }
  
  section#equipeEducacional {
    background-color: var(--cor-equipe);
  }
  
  section#contato {
    background-color: var(--cor-contato);
  }
  